.Style-Header {
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.Style-logo {
    height: 90px;
    margin-bottom: 10px;
}

.Style-title {
    font-size: 2em;
    color: black
}
  
.Style-soustitle {
    font-size: 1.2em;
    color: rgb(71, 71, 70); 
}

.Style-logoMap {
    height: 40px;
    margin-top: 20px;
}