/* .buttonlocaloca{
    background-color: #6657f7 !important;
    height: 80px !important;
    width: 80px !important;
} */

.stylebuttongeo{

    height: 35px !important;
    width: 35px !important;
}