@font-face {
  font-family: "Nova Flat";
  src: url("../Police/NovaFlat/NovaFlat.eot?") format("eot"),
    url("../Police/NovaFlat/NovaFlat.woff") format("woff"),
    url("../Police/NovaFlat/NovaFlat.ttf") format("truetype"),
    url("../Police/NovaFlat/NovaFlat.svg#NovaFlat") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aubrey";
  src: url("../Police/Aubrey/AUBREY1__.eot?") format("eot"), 
    url("../Police/Aubrey/AUBREY1__.woff") format("woff"),
    url("../Police/Aubrey/AUBREY1__.ttf") format("truetype"),
    url("../Police/Aubrey/AUBREY1__.svg#Aubrey") format("svg");
  font-weight: normal;
  font-style: normal;
}

.map {
  margin-left: 16%;
}

.result {
  width: 70%;
  margin-left: 10%;
  margin-top: 8%;
  padding: 5%;
  font-size: 14px;
  border: 3px #ccc solid;
  border-radius: 10px;
  
  background: rgba(246, 244, 243, 0.4);
  font-family: "Nova Flat";
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
}

h1{
  letter-spacing: 5px;
  font-family: "Aubrey";
}
