.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

<<<<<<< HEAD
.App-search {
  margin-top:50px;
  text-align: center;
}

.ap-input {
  height: 30px;
  width: 100%;
  border-radius: 1%
}
.logo-style{
  float: left;
  /* margin-left: -15%; */
}
.header-title {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  padding-left:45%;
  
}


=======
>>>>>>> origin/dev

/*background*/
.bg_img{
  width: 100%;
  opacity: 0.8;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
