.ap-input {
    background-color: transparent;
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 9%;
  }

.ap-icon-pin {
    display: none;
}
input::placeholder{
    color: black;
    
}
